@import "../../variables";

.image-upload-mulitple-wrapper {
  .file-base {
    position: relative;

    input {
      opacity: 0;
      position: absolute;
      left: 0;
      width: (120/$df-fs)*$rem;
      height: (50/$df-fs)*$rem;
      z-index: 1;
      cursor: pointer;
    }

    .btn-upload {

    }
  }

  .image-section {
    flex-wrap: wrap;
    &__item {
      position: relative;
      flex: 0 0 33.3333%;
      .icon {
        cursor: pointer;

        font-size: (20/$df-fs)*$rem;

        position: absolute;
        top: (5/$df-fs)*$rem;
        right: (5/$df-fs)*$rem;
      }
    }
  }
}
