@import "../../variables";

.hired-product-wrapper {
  .data-item {
    margin-bottom: (16 / $df-fs) * $rem;
  }

  @media (max-width: 575px) {
    padding: (16 / $df-fs) * $rem;

    h3 {
      border-bottom: 1px solid var(--charcoal-grey);
      margin-bottom: (16 / $df-fs) * $rem;
      padding-bottom: (8 / $df-fs) * $rem;
    }

    .data-item {

      .image-product {
        display: none;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  @media (min-width: 576px) {
    background-color: var(--white) !important;
    h3 {
      margin-bottom: (16 / $df-fs) * $rem;
    }

    .data-item {

      .name {
        margin-left: (16 / $df-fs) * $rem;
      }
    }
  }
}
